/* base styles */
html{
    font-size: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

#fixed-title {
    position: fixed;
    left: 15px; 
}

#fixed-title p {
   color: #298BDD;
   font-weight: 500;
}



#diagram_container {
    background-color: #EBEBEB;
    padding: 10px 0;
}

/* begin custom elements for svg... */
rect {
    fill: none;
    pointer-events: all
}
line {
    stroke: #efefef;
    stroke-width: 1.5px
}

.node {
    position: relative;
    display: inline-block;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px
}
.function-btn {
    opacity: 0;
    fill: #298BDD;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}


g.node:hover .function-btn,
.function-btn:hover {
    opacity: 1;
}
.function-bg {
    cursor: pointer
}

g.node:hover > rect {
    stroke: #298BDD;
    stroke-width:3px;
}

.nodeRect {
    /*svg rect*/
    stroke-width: 1;
    fill: #fff;
}

.node-seat-title {  
    font-size: 1rem;
    font-weight: 300;
    fill: #fff;
    line-height: 24px;
    text-align: center;
    letter-spacing:0px;
}

.seat-owner {  
    font-size: .8rem;
    fill: #fff;
    line-height: 24px;
    text-align: center;
    letter-spacing:0px;
}

.node circle {
    fill: #FFDE7A;
    stroke: grey;
    
    /* hide for now */
    /* visibility: hidden; */
}


.rect-node.anchor {
    position: relative;
    background: #fff;
    border-radius: 10px;
    height: 120px;
    height:120px;
    width: 280px;
    margin-bottom: 20px;
    z-index: 99999999;
}


.seat_popup{ display: none;}
.seat_popup {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.3);
}

/* helper classes */
input.big-input {
    font-size: 20px !important;
    line-height: 32px;
    height: 40px;
    outline: none !important;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}


