/***********************
Base styles
********************** */
html{
    font-size: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

#fixed-title {
    position: fixed;
    left: 15px; 
}

#fixed-title p {
   color: #298BDD;
   font-weight: 500;
}

/***********************
Dendrogram styles
********************** */

.mindmap-container {
    background-color: #EBEBEB;
    padding: 10px 0;
}

/* begin custom elements for svg... */
rect {
    fill: none;
    pointer-events: all
}
line {
    stroke: #efefef;
    stroke-width: 1.5px
}

.node {
    opacity: 0;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px
}
.function-btn {
    opacity: 0;
    fill: #ff6600;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

g.node:hover .function-btn,
.function-btn:hover {
    opacity: 1;
}
.function-bg {
    cursor: pointer
}

g.node:hover > rect {
    stroke: #298BDD;
    stroke-width:3px;
}

.nodeRect {
    /*svg rect*/
    stroke-width: 1;
    stroke: #E8E9EC;
    fill: #fff;
}

.nodeText{  
    font-size: 1rem;
    font-weight: 300;
    fill: #fff;
    line-height: 24px;
    text-align: center;
    letter-spacing:0px;
    fill: red 12px solid;
}

.node-date {  
    font-size: .8rem;
    fill: #333;
    line-height: 24px;
    text-align: center;
    letter-spacing:0px;
    fill: red
}

.node circle {
    fill: #FFDE7A;
    stroke: grey;
 
}

.node:hover circle {
    fill: #FFDE7A;
    stroke: grey;
}

.orientation-btns {
    position: fixed;
    top: 30px;
    right: 50px;
    font-size: 30px;
}

/************************************
update node and show node info POPOVERS styles
*************************************/

.node-update-popover{
    display: none;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 400px; */
}


input.big-input {
    font-size: 20px !important;
    line-height: 32px;
    height: 40px;
    outline: none !important;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px;
}

/* MENU ITEMS */
#menuItems {
    display: none;
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 0px 3px 18px -2px rgba(59,54,59,0.43);
    -moz-box-shadow: 0px 3px 18px -2px rgba(59,54,59,0.43);
    box-shadow: 0px 3px 18px -2px rgba(59,54,59,0.43);
    width: 200px;
    padding: 2px 5px;
    text-align: left;
}

#menuItems ul {
    border-bottom: 0;
}

#menuItems li a {
    font-size: 14px;
    color: #3C3C3C;
}

#menuItems li a:hover
 {
    background-color: #2E0962;
    color: white;
}

#map_guide_popup {
    width: 150px;
}

/* helpers */

button {
    padding: 12px;
    font-size: 22px;
}

.btn-success {
    padding: 12px;
    font-size: 22px;
    background: green;
    color: #fff;
}